{% extends 'base.html.twig' %}

{% block title %}Modifier l'art{% endblock %}

{% block body %}
    <h1>Modifier l'art</h1>

    {{ include('art/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_art_index') }}">Retour à la liste</a>

    {{ include('art/_delete_form.html.twig') }}
{% endblock %}
