{% extends 'base.html.twig' %}

{% block title %}Nouvel art{% endblock %}

{% block body %}
    <h1>Créer un nouvel art</h1>

    {{ include('art/_form.html.twig') }}

    <a href="{{ path('app_art_index') }}">Retour à la liste</a>
{% endblock %}
