{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div class="admin-dashboard">
    <h1>Backoffice</h1>
    <ul>
        <li><a href="{{ path('app_art_index') }}">Arts</a></li>
        <li><a href="{{ path('app_category_index') }}">Catégories</a></li>
        <li><a href="{{ path('app_user_index') }}">Utilisateurs</a></li>
        <li><a href="{{ path('app_basket_index') }}">Paniers</a></li>
    </ul>
</div>
{% endblock %}
