{% extends 'base.html.twig' %}

{% block title %}Modifier le panier{% endblock %}

{% block body %}
    <h1>Modifier le panier</h1>

    {{ include('basket/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_basket_index') }}">Retour à la liste</a>

    {{ include('basket/_delete_form.html.twig') }}
{% endblock %}
