{% extends 'base.html.twig' %}

{% block title %}Nouveau panier{% endblock %}

{% block body %}
    <h1>Créer un nouveau panier</h1>

    {{ include('basket/_form.html.twig') }}

    <a href="{{ path('app_basket_index') }}">Retour à la liste</a>
{% endblock %}
